In [153]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
#run a command to make matplotlub chart in line in the notebook
%matplotlib inline

## Q-1
You need to understand how to create a Series and a DataFrame, and what is the difference between a Series and a DataFrame. A Series is one column of data(one-dimension array-like structure) plus labels. DataFram is multiple columns of data(multiple-dimension array like structure) plus labels.

In [3]:
#Example of Series(named as grades)

data=[90,85,79,92,93]
name=['jack','joan', 'max','mike', 'kevin']
grades=pd.Series(data, index=name)
grades

jack     90
joan     85
max      79
mike     92
kevin    93
dtype: int64

In [4]:
#Example of DataFrame(named as sales):
data1={'Q1':[1200,1300,1100],'Q2':[1400,1500,1200], 'Q3':[800,1600,1000], 'Q4':[1100,1000,1050]}
cities=['Dallas', 'Houston', 'Austin']
sales=pd.DataFrame(data1, index=cities)
sales

           Q1    Q2    Q3    Q4
Dallas   1200  1400   800  1100
Houston  1300  1500  1600  1000
Austin   1100  1200  1000  1050

##### Create the above Series and dataFrame. know how to give values to name property of Series, index and columns.

In [5]:
grades.index.name= 'name'
grades.name ='Exam Grades'
grades

name
jack     90
joan     85
max      79
mike     92
kevin    93
Name: Exam Grades, dtype: int64

In [6]:
sales.index.name= 'City'
sales.columns.name='Quarter'
sales

Quarter    Q1    Q2    Q3    Q4
City
Dallas   1200  1400   800  1100
Houston  1300  1500  1600  1000
Austin   1100  1200  1000  1050

## Q-2
You need to know how to use index and column to get a columns, multiple rows, a slice of the DataFrame. Practice the following please:

1. Display Q2 sales
2. Display Q2 and Q3 sales
3. Display Q1, Q2 and Q4 sales
4. Display Houston's sales
5. Dispaly Dallas as and Houston's sales
6. Display Houston's Q3 sales
7. Display houston and Austin Q3 and Q4 sales
8. Display Dallas and houston Q1, Q2, and Q3 sales.

In [7]:
sales['Q2']

City
Dallas     1400
Houston    1500
Austin     1200
Name: Q2, dtype: int64

In [8]:
sales[['Q2','Q3']]

Quarter    Q2    Q3
City
Dallas   1400   800
Houston  1500  1600
Austin   1200  1000

In [9]:
sales[['Q1','Q2','Q4']]

Quarter    Q1    Q2    Q4
City
Dallas   1200  1400  1100
Houston  1300  1500  1000
Austin   1100  1200  1050

In [10]:
sales.loc['Houston']

Quarter
Q1    1300
Q2    1500
Q3    1600
Q4    1000
Name: Houston, dtype: int64

In [11]:
sales.loc[['Houston', 'Dallas']]

Quarter    Q1    Q2    Q3    Q4
City
Houston  1300  1500  1600  1000
Dallas   1200  1400   800  1100

In [12]:
sales.loc['Houston','Q3':'Q4']

Quarter
Q3    1600
Q4    1000
Name: Houston, dtype: int64

In [13]:
sales.iloc[1:,2:]

Quarter    Q3    Q4
City
Houston  1600  1000
Austin   1000  1050

In [14]:
sales.iloc[:2,:3]

Quarter    Q1    Q2    Q3
City
Dallas   1200  1400   800
Houston  1300  1500  1600

In [15]:
sales.loc[['Houston', 'Austin']][['Q3', 'Q4']]

Quarter    Q3    Q4
City
Houston  1600  1000
Austin   1000  1050

In [16]:
sales.loc[['Dallas','Houston']][['Q1','Q2','Q3']]

Quarter    Q1    Q2    Q3
City
Dallas   1200  1400   800
Houston  1300  1500  1600

## Q-3
You need to know how to use max, min, mean and sorting methods. Practice the folloing please:

1. Display the largest sales of each quarter
2. Display the lowest sales for each city
3. Display the average sales of Q4
4. sort the grades from large to small (Know the difference between sort_index and sort_values function also know to use ascending attribute)

In [17]:
sales.iloc[:3,:4].max()
#Or
#sales.max()

Quarter
Q1    1300
Q2    1500
Q3    1600
Q4    1100
dtype: int64

In [18]:
sales.min(axis=1)

City
Dallas      800
Houston    1000
Austin     1000
dtype: int64

In [19]:
sales['Q4'].mean()

1050.0

In [20]:
grades.sort_values(ascending=False)

name
kevin    93
mike     92
jack     90
joan     85
max      79
Name: Exam Grades, dtype: int64

In [21]:
grades.sort_index()

name
jack     90
joan     85
kevin    93
max      79
mike     92
Name: Exam Grades, dtype: int64

In [22]:
grades.sort_index(ascending = False)

name
mike     92
max      79
kevin    93
joan     85
jack     90
Name: Exam Grades, dtype: int64

In [23]:
sales.sort_values(by='Q2')

Quarter    Q1    Q2    Q3    Q4
City
Austin   1100  1200  1000  1050
Dallas   1200  1400   800  1100
Houston  1300  1500  1600  1000

## Q-4
You need to know to add a new column and how to drop a column. Practice the folloing please:
1. Add the total column which is  the total of all quarters sales
2. Add the average column which is the average of all quarters sales
3. sort the DataFrame based on the total column, from large to small. You also need to know how to sort a DataFrame based on multiple keys.
4. Drop the total column(Know how to use axis and inplace attributes). By default, the drop method is to drop row(s).if you want to drop a column, you need to use axis =1.

In [24]:
sales['Total']= sales.sum(axis=1)

In [25]:
sales

Quarter    Q1    Q2    Q3    Q4  Total
City
Dallas   1200  1400   800  1100   4500
Houston  1300  1500  1600  1000   5400
Austin   1100  1200  1000  1050   4350

In [26]:
sales['Average'] =sales.iloc[:3,:4].mean(axis=1)
sales

#OR
#sales['Average'] =sales.iloc[:3,:4].mean(axis=1)

Quarter    Q1    Q2    Q3    Q4  Total  Average
City
Dallas   1200  1400   800  1100   4500   1125.0
Houston  1300  1500  1600  1000   5400   1350.0
Austin   1100  1200  1000  1050   4350   1087.5

In [27]:
sales.sort_values(by='Total', ascending =False)

Quarter    Q1    Q2    Q3    Q4  Total  Average
City
Houston  1300  1500  1600  1000   5400   1350.0
Dallas   1200  1400   800  1100   4500   1125.0
Austin   1100  1200  1000  1050   4350   1087.5

In [28]:
sales.drop('Total', axis =1)

Quarter    Q1    Q2    Q3    Q4  Average
City
Dallas   1200  1400   800  1100   1125.0
Houston  1300  1500  1600  1000   1350.0
Austin   1100  1200  1000  1050   1087.5

## Q-5
You need to know how to boolean index to keep data based on a specific condition. Practice the folloing please:

1. Display the cities where average sales of each quarter is greater than 1100.
2. Display the cities where both Q2 and Q3 sales are greater than 1200.

In [29]:
sales['Average']>1100

City
Dallas      True
Houston     True
Austin     False
Name: Average, dtype: bool

In [30]:
sales[sales['Average']>1100]

Quarter    Q1    Q2    Q3    Q4  Total  Average
City
Dallas   1200  1400   800  1100   4500   1125.0
Houston  1300  1500  1600  1000   5400   1350.0

In [31]:
sales[['Q2','Q3']]>1200

Quarter     Q2     Q3
City
Dallas    True  False
Houston   True   True
Austin   False  False

In [32]:
sales[sales[['Q2','Q3']]>1200]

Quarter  Q1      Q2      Q3  Q4  Total  Average
City
Dallas  NaN  1400.0     NaN NaN    NaN      NaN
Houston NaN  1500.0  1600.0 NaN    NaN      NaN
Austin  NaN     NaN     NaN NaN    NaN      NaN

In [33]:
mask=(sales['Q2']>1200) &(sales['Q3']>1200)
sales[mask]

Quarter    Q1    Q2    Q3    Q4  Total  Average
City
Houston  1300  1500  1600  1000   5400   1350.0

## Q-6
You need to understand what are the values of a Series and a DataFrame. In a Series, the values are contained in one dimension array. In a DataFrame, the values are contained in two-dimension array. This is useful is using Machine Learning techniques too. Logistic Regression uses array-like data for input.

1. Display the values of the Series grades.
2. Display the values of the DataFrame sales.

In [34]:
grades.values

array([90, 85, 79, 92, 93], dtype=int64)

In [35]:
sales.values

array([[1200. , 1400. ,  800. , 1100. , 4500. , 1125. ],
       [1300. , 1500. , 1600. , 1000. , 5400. , 1350. ],
       [1100. , 1200. , 1000. , 1050. , 4350. , 1087.5]])

## Q-7
You also need to know how to use the function or attributes of:

1. unique
2. transpose
3. describe
4. corr
5. dtype
6. astype
7. len

In [37]:
sales['Q3'].unique()

array([ 800, 1600, 1000], dtype=int64)

In [39]:
sales.T

City     Dallas  Houston  Austin
Quarter
Q1       1200.0   1300.0  1100.0
Q2       1400.0   1500.0  1200.0
Q3        800.0   1600.0  1000.0
Q4       1100.0   1000.0  1050.0
Total    4500.0   5400.0  4350.0
Average  1125.0   1350.0  1087.5

In [44]:
sales.describe().T

,count,mean,std,min,25%,50%,75%,max
Quarter,,,,,,,,
Q1,3.0,1200.000000,100.000000,1100.0,1150.00,1200.0,1250.0,1300.0
Q2,3.0,1366.666667,152.752523,1200.0,1300.00,1400.0,1450.0,1500.0
Q3,3.0,1133.333333,416.333200,800.0,900.00,1000.0,1300.0,1600.0
Q4,3.0,1050.000000,50.000000,1000.0,1025.00,1050.0,1075.0,1100.0
Total,3.0,4750.000000,567.890835,4350.0,4425.00,4500.0,4950.0,5400.0
Average,3.0,1187.500000,141.972709,1087.5,1106.25,1125.0,1237.5,1350.0

In [45]:
sales.corr()

Quarter        Q1        Q2        Q3        Q4     Total   Average
Quarter
Q1       1.000000  0.981981  0.720577 -0.500000  0.924473  0.924473
Q2       0.981981  1.000000  0.576557 -0.327327  0.835766  0.835766
Q3       0.720577  0.576557  1.000000 -0.960769  0.930501  0.930501
Q4      -0.500000 -0.327327 -0.960769  1.000000 -0.792406 -0.792406
Total    0.924473  0.835766  0.930501 -0.792406  1.000000  1.000000
Average  0.924473  0.835766  0.930501 -0.792406  1.000000  1.000000

In [47]:
sales['Q1'].dtype

dtype('int64')

In [50]:
sales['Total'].dtype

dtype('int64')

In [56]:
len(sales['Q3']==1500)

3

## Q-8
You need to know how to read csv file and excel file. how to set an index_col. Do the following:
1. Read the Airbnb_Texas_Rentals.Csv as airbnb set the firs column as index.

In [60]:
airbnb= pd.read_csv('Airbnb_Texas_Rentals.csv', index_col=0)
airbnb.head()

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
1,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
2,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
3,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...
4,$60,1,Bryan,February 2016,Private bedroom in a cute little home situated...,30.637304,-96.337846,Private Room Close to Campus,https://www.airbnb.com/rooms/11839729?location...
5,$75,2,Fort Worth,February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...

## Q-9

You need to know how to use pd.isnull function.You need to know how to use any and all function. Practice the following:

1. pd.isnull(airbnb['average_rate_per_night'])
2. pd.isnull(airbnb['average_rate_per_night']).any()
3. pd.isnull(airbnb).any()

What is the difference among the three use of pd.isnull above?
1. Display the rows that have missing values in 'average_rate_per_night'
2. Display the rows that have either missing values in either latitude or longitude.

In [62]:
airbnb.isnull().any()

average_rate_per_night     True
bedrooms_count             True
city                      False
date_of_listing           False
description                True
latitude                   True
longitude                  True
title                      True
url                       False
dtype: bool

In [154]:
mask1= pd.isnull(airbnb['latitude'])
airbnb[mask1]

Empty DataFrame
Columns: [average_rate_per_night, bedrooms_count, city, date_of_listing, description, latitude, longitude, title, url, data_of_listing]
Index: []

## Q-10
You need to know how to manipulate string in a DataFrame. if the manipulation is to use an operator directly, you can use element - wise operation directly. if you use a string function, you need to add .str after a column reference to use the function. practice the following:

1. Add the state to city in the city column, for example, Houston become Houston, Tx. Make this happen in the original DataFrame
2. Remove the (dollor sign) from the rate column values(replace (dollor sign) with abd empty string). Make this happen in the original DataFrame.

In [95]:
airbnb['city'] =airbnb['city'].str.replace(',Tx', '')
airbnb

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
1,$27,2,Humble,May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
2,$149,4,San Antonio,November 2010,"Stylish, fully remodeled home in upscale NW ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
3,$59,1,Houston,January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...
4,$60,1,Bryan,February 2016,Private bedroom in a cute little home situated...,30.637304,-96.337846,Private Room Close to Campus,https://www.airbnb.com/rooms/11839729?location...
5,$75,2,Fort Worth,February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...
6,$250,4,Conroe,August 2016,"My place is close to Lake Conroe, family-frien...",30.370455,-95.385319,Gorgeous Home with Country Setting,https://www.airbnb.com/rooms/14466133?location...
7,$129,3,Cedar Creek,March 2016,Rustic country retreat on 8 acres southeast of...,30.109838,-97.473417,Cozy and Quaint Country Retreat with Acreage.,https://www.airbnb.com/rooms/12491762?location...
8,$25,1,Fort Worth,January 2016,This is a beautiful bedroom with a queen size ...,32.689611,-97.298161,Friendly Private Room in Quiet Neighborhood,https://www.airbnb.com/rooms/18977363?location...
9,$345,3,Rockport,February 2016,First class and comfortable condo with the bes...,28.103726,-97.025832,608 - Bayfront Condos,https://www.airbnb.com/rooms/17559848?location...
10,$72,Studio,San Antonio,August 2013,Private entrance to your own \,29.480646,-98.495692,Cozy Historic Private Studio,https://www.airbnb.com/rooms/1588127?location=...
11,$65,1,Irving,July 2015,My cool and comfortable bedroom apartment feel...,32.862116,-97.002643,Cozy 1 bedroom/bathroom with pool,https://www.airbnb.com/rooms/7276294?location=...
12,$116,1,Euless,September 2014,Gated Estate in the heart of the DFW metro. Se...,32.865348,-97.081034,Quiet Cozy Room,https://www.airbnb.com/rooms/4251773?location=...
13,$160,2,Round Mountain,August 2012,Our place combines the convenience for visitin...,30.352005,-98.146242,Cypress Creek Retreat Hamilton Pool,https://www.airbnb.com/rooms/658762?location=C...
14,$110,1,San Antonio,June 2017,"This home is on the North Side of San Antonio,...",29.669031,-98.418352,A Cozy Home with a Beautiful Nature Views,https://www.airbnb.com/rooms/19190311?location...
15,$175,2,Kerrville,August 2016,My place is close to downtown Kerrville. Beaut...,30.073667,-99.161365,"Cozy cottage charm,right in Kerrville!",https://www.airbnb.com/rooms/14694333?location...
16,$88,2,New Braunfels,April 2017,This is new house with a hint of Texas Country...,29.642811,-98.114401,2 bedrooms 1.5 bath in a great location.,https://www.airbnb.com/rooms/18683743?location...
17,$82,2,Austin,December 2015,"Cute two bedroom with lots of windows, sunny b...",30.309522,-97.731710,Cosy 2 Bedroom in Hyde Park!,https://www.airbnb.com/rooms/18550276?location...
18,$275,1,Port Aransas,February 2017,"My place is close to the beach, restaurants an...",27.817176,-97.068090,Ocean Getaway with Magnificent Views,https://www.airbnb.com/rooms/17402254?location...
19,$1500,4,Houston,January 2017,4 bedroom 2 bathroom home with an open floor p...,29.954680,-95.176070,Super Bowl 2017 4 BDRM Home Retreat,https://www.airbnb.com/rooms/16964526?location...
20,$250,2,Frisco,December 2014,This unique lakefront area is perfect for crea...,33.155776,-96.930439,Lake Lewisville Lakefront Convenient to Frisco,https://www.airbnb.com/rooms/4785810?location=...
21,$2999,4,Katy,January 2017,4 Bedroom 3 Baths Sleeps 10-12 Theater Room Pl...,29.823802,-95.730637,New Super Bowl House & Luxury Car,https://www.airbnb.com/rooms/17005150?location...
22,$350,3,College Station,September 2015,"Nice 3 bed, 2 bathroom home in the beautiful C...",30.546704,-96.282853,3/2 Home in Castlegate,https://www.airbnb.com/rooms/8419392?location=...
23,$165,3,Katy,September 2016,This apartment is very nice for any family or ...,29.766553,-95.783192,Getaway Gateway Apartment Home,https://www.airbnb.com/rooms/17188329?location...
24,$65,1,Katy,September 2016,"My place is close to Katy Mills Mall Shopping,...",29.740704,-95.825879,Luxury Master Bedroom in Safe & Quite Neibourhood,https://www.airbnb.com/rooms/15860117?location...
25,$100,Studio,Denton,November 2015,A converted carriage house walking distance to...,33.216140,-97.137757,Historic Converted Carriage House,https://www.airbnb.com/rooms/16650025?location...
26,NaN,2,San Antonio,July 2014,2 bedroom 4 bed chalet/town-home sleeps 6-8 wi...,NaN,NaN,ChaletAzul 2RM/4BD 30day rent Avail,https://www.airbnb.com/rooms/6088158?location=...
27,$36,1,Richmond,February 2017,Private Room (shared bathroom) in a warm famil...,29.695527,-95.690111,King Size Bed room,https://www.airbnb.com/rooms/17407499?location...
28,$65,1,Katy,January 2017,"Cozy room, special for couples or business tri...",29.780917,-95.794945,Private Room in Katy,https://www.airbnb.com/rooms/16916119?location...
29,$110,1,Austin,September 2015,Comfortable Traditional Interior Furniture in ...,30.244296,-97.774469,Fabulous Central Austin Condo!,https://www.airbnb.com/rooms/13571814?location...
30,$650,1,Houston,July 2016,"Upstairs &amp; down stairs 2 beds included, gr...",29.793380,-95.196401,Luxurious TH 10 min from Downtown,https://www.airbnb.com/rooms/16842438?location...
...,...,...,...,...,...,...,...,...,...
18230,$55,2,Plano,June 2017,"Courtyard view, walking distance to two pools!",33.071656,-96.738759,"Cozy Cottage in Plano, TX",https://www.airbnb.com/rooms/19384547?location...
18231,$300,3,Port Aransas,September 2015,"Beautiful 3 story, 3 bedroom/3.5 beach townhouse!",27.820498,-97.069286,"""Casa Palmera"" Garage for golf cart storage",https://www.airbnb.com/rooms/18583679?location...
18232,$100,1,San Antonio,October 2015,Early 1900's restored historic duplex 5-10 min...,29.431973,-98.469774,Historic Duplex Minutes from Downtown San Antonio,https://www.airbnb.com/rooms/8940220?location=...
18233,$487,3,San Antonio,May 2016,My place is close to Loop 410 just minutes fro...,29.525538,-98.508696,Mid-Century Modern home newly remodeled 2/17,https://www.airbnb.com/rooms/16554753?location...
18234,$40,1,Dallas,December 2016,"My place is close to the city center, bus line...",32.947855,-96.821908,Home away from Home,https://www.airbnb.com/rooms/16489958?location...
18235,$45,1,Abilene,May 2015,awesome room in my house if your anything like...,32.456274,-99.766067,peake street room,https://www.airbnb.com/rooms/13734793?location...
18236,$82,3,San Antonio,May 2015,New Listing!! This house is in a great locatio...,29.462688,-98.540944,MidCentury Budgeter Near Downtown,https://www.airbnb.com/rooms/17702438?location...
18237,$200,2,Dallas,December 2016,"My place is close to the Galleria mall, the Sh...",32.988678,-96.774548,Cozy 2BD/2.5 Apt w/parking !!!,https://www.airbnb.com/rooms/16401845?location...
18238,$28,3,Abilene,September 2016,My place is close to everything in Abilene.. Y...,32.477212,-99.770857,3/1 sanctuary for you,https://www.airbnb.com/rooms/15115172?location...
18239,$101,1,San Antonio,July 2015,My place is by the San Antonio Museum of Art. ...,29.438534,-98.479637,Urban Riverwalk Apartment Close to The Pearl,https://www.airbnb.com/rooms/14882585?location...
18240,$40,1,Abilene,March 2015,Laid back one bedroom available with private b...,32.380837,-99.716332,"1BR, private bath, & good cooking",https://www.airbnb.com/rooms/10194491?location...
18241,$101,2,Plano,September 2013,2BEDS/2BATH \n\nMy place is located on the Pla...,33.008319,-96.784492,Upscale Living Near Legacy Shops!,https://www.airbnb.com/rooms/5682371?location=...
18242,$34,1,San Antonio,December 2015,This is your place in San Antonio during your ...,29.495080,-98.412750,Globe Trekker private room,https://www.airbnb.com/rooms/10866349?location...
18243,$39,1,Dallas,May 2017,Our place is located in the suburb of Dallas i...,32.998515,-96.840383,Feel at home place,https://www.airbnb.com/rooms/19225872?location...
18244,$75,1,Tuscola,July 2014,"Rustic, cozy two room, eclectically decorated ...",32.247640,-99.949714,Rustic Cabin in the Hills,https://www.airbnb.com/rooms/3686935?location=...
18245,$90,2,Addison,October 2016,"Updated condo in quiet neighborhood, just bloc...",32.970571,-96.828762,2 Bedroom Condo in North Dallas,https://www.airbnb.com/rooms/15758513?location...
18246,$75,1,San Antonio,February 2015,Vintage apartment in the heart of the historic...,29.453676,-98.496735,Monte Vista Historical Apartment,https://www.airbnb.com/rooms/9012890?location=...
18247,$299,4,San Antonio,May 2016,You're going to LOVE IT! All the comforts of h...,29.515856,-98.519550,Five miles from Downtown San Antonio & much more!,https://www.airbnb.com/rooms/15032535?location...
18248,$48,1,Dallas,July 2014,Accommodations are separate from rest of home....,32.955811,-96.776537,"Separate entry, IKEA-like living with more space",https://www.airbnb.com/rooms/15115945?location...
18249,$75,1,San Antonio,August 2014,"Retreat for one or two guests--couple, buddies...",29.460124,-98.463417,"Large upstairs guestroom, private bath& entrance",https://www.airbnb.com/rooms/13558426?location...
18250,$37,1,Dallas,October 2011,We have lived in this neighborhood for 4 years...,32.892048,-96.871741,Private Bedroom/Bathroom in Non Smoking Household,https://www.airbnb.com/rooms/14058229?location...
18251,$27,1,Abilene,August 2015,Super cute bedroom in an adorable home! Well t...,32.434686,-99.751677,Adorable getaway!,https://www.airbnb.com/rooms/19530954?location...
18252,$149,3,Alamo Heights,May 2015,"Our place is walking distance to coffee shops,...",29.474794,-98.463366,Alamo Heights Craftsman Haus 5 miles from down...,https://www.airbnb.com/rooms/17014555?location...
18253,$31,1,Addison,June 2017,"Inside of Addison Circle, everything that you ...",32.962486,-96.828179,Addison Circle Studio Available for Short Term,https://www.airbnb.com/rooms/19205954?location...
18254,$38,1,San Antonio,February 2016,Come stay in a charming old house close to all...,29.429076,-98.462739,Private room in charming historic home,https://www.airbnb.com/rooms/17773735?location...
18255,$60,1,Dallas,March 2013,An entire 1 bedroom 700+sqft condo in the hear...,32.892303,-96.772049,Quiet comfort living in Dallas,https://www.airbnb.com/rooms/1011576?location=...
18256,$99,2,San Antonio,June 2015,An inviting 1920's cottage home in a popular u...,29.452893,-98.486756,Midtown Cottage Near Riverwalk,https://www.airbnb.com/rooms/18766940?location...
18257,$13,1,Dallas,December 2016,Amazing 3BHK Apartment in a picturesque Commun...,33.001955,-96.777615,Room in Dallas!,https://www.airbnb.com/rooms/18719059?location...
18258,$65,2,San Antonio,October 2016,My quaint and cozy home is conveniently locate...,29.450142,-98.505333,Vibrant Spacious Loft!,https://www.airbnb.com/rooms/18179329?location...
18259,$75,1,San Antonio,July 2015,"Cute brand new, modern, guest house (we call i...",29.425508,-98.466833,Brand New Modern Pod in Historic Dignowity Hill,https://www.airbnb.com/rooms/16318144?location...

In [97]:
airbnb['city']=airbnb['city']+',TX'

In [98]:
airbnb

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
1,$27,2,"Humble,TX",May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
2,$149,4,"San Antonio,TX",November 2010,"Stylish, fully remodeled home in upscale NW ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
3,$59,1,"Houston,TX",January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...
4,$60,1,"Bryan,TX",February 2016,Private bedroom in a cute little home situated...,30.637304,-96.337846,Private Room Close to Campus,https://www.airbnb.com/rooms/11839729?location...
5,$75,2,"Fort Worth,TX",February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...
6,$250,4,"Conroe,TX",August 2016,"My place is close to Lake Conroe, family-frien...",30.370455,-95.385319,Gorgeous Home with Country Setting,https://www.airbnb.com/rooms/14466133?location...
7,$129,3,"Cedar Creek,TX",March 2016,Rustic country retreat on 8 acres southeast of...,30.109838,-97.473417,Cozy and Quaint Country Retreat with Acreage.,https://www.airbnb.com/rooms/12491762?location...
8,$25,1,"Fort Worth,TX",January 2016,This is a beautiful bedroom with a queen size ...,32.689611,-97.298161,Friendly Private Room in Quiet Neighborhood,https://www.airbnb.com/rooms/18977363?location...
9,$345,3,"Rockport,TX",February 2016,First class and comfortable condo with the bes...,28.103726,-97.025832,608 - Bayfront Condos,https://www.airbnb.com/rooms/17559848?location...
10,$72,Studio,"San Antonio,TX",August 2013,Private entrance to your own \,29.480646,-98.495692,Cozy Historic Private Studio,https://www.airbnb.com/rooms/1588127?location=...
11,$65,1,"Irving,TX",July 2015,My cool and comfortable bedroom apartment feel...,32.862116,-97.002643,Cozy 1 bedroom/bathroom with pool,https://www.airbnb.com/rooms/7276294?location=...
12,$116,1,"Euless,TX",September 2014,Gated Estate in the heart of the DFW metro. Se...,32.865348,-97.081034,Quiet Cozy Room,https://www.airbnb.com/rooms/4251773?location=...
13,$160,2,"Round Mountain,TX",August 2012,Our place combines the convenience for visitin...,30.352005,-98.146242,Cypress Creek Retreat Hamilton Pool,https://www.airbnb.com/rooms/658762?location=C...
14,$110,1,"San Antonio,TX",June 2017,"This home is on the North Side of San Antonio,...",29.669031,-98.418352,A Cozy Home with a Beautiful Nature Views,https://www.airbnb.com/rooms/19190311?location...
15,$175,2,"Kerrville,TX",August 2016,My place is close to downtown Kerrville. Beaut...,30.073667,-99.161365,"Cozy cottage charm,right in Kerrville!",https://www.airbnb.com/rooms/14694333?location...
16,$88,2,"New Braunfels,TX",April 2017,This is new house with a hint of Texas Country...,29.642811,-98.114401,2 bedrooms 1.5 bath in a great location.,https://www.airbnb.com/rooms/18683743?location...
17,$82,2,"Austin,TX",December 2015,"Cute two bedroom with lots of windows, sunny b...",30.309522,-97.731710,Cosy 2 Bedroom in Hyde Park!,https://www.airbnb.com/rooms/18550276?location...
18,$275,1,"Port Aransas,TX",February 2017,"My place is close to the beach, restaurants an...",27.817176,-97.068090,Ocean Getaway with Magnificent Views,https://www.airbnb.com/rooms/17402254?location...
19,$1500,4,"Houston,TX",January 2017,4 bedroom 2 bathroom home with an open floor p...,29.954680,-95.176070,Super Bowl 2017 4 BDRM Home Retreat,https://www.airbnb.com/rooms/16964526?location...
20,$250,2,"Frisco,TX",December 2014,This unique lakefront area is perfect for crea...,33.155776,-96.930439,Lake Lewisville Lakefront Convenient to Frisco,https://www.airbnb.com/rooms/4785810?location=...
21,$2999,4,"Katy,TX",January 2017,4 Bedroom 3 Baths Sleeps 10-12 Theater Room Pl...,29.823802,-95.730637,New Super Bowl House & Luxury Car,https://www.airbnb.com/rooms/17005150?location...
22,$350,3,"College Station,TX",September 2015,"Nice 3 bed, 2 bathroom home in the beautiful C...",30.546704,-96.282853,3/2 Home in Castlegate,https://www.airbnb.com/rooms/8419392?location=...
23,$165,3,"Katy,TX",September 2016,This apartment is very nice for any family or ...,29.766553,-95.783192,Getaway Gateway Apartment Home,https://www.airbnb.com/rooms/17188329?location...
24,$65,1,"Katy,TX",September 2016,"My place is close to Katy Mills Mall Shopping,...",29.740704,-95.825879,Luxury Master Bedroom in Safe & Quite Neibourhood,https://www.airbnb.com/rooms/15860117?location...
25,$100,Studio,"Denton,TX",November 2015,A converted carriage house walking distance to...,33.216140,-97.137757,Historic Converted Carriage House,https://www.airbnb.com/rooms/16650025?location...
26,NaN,2,"San Antonio,TX",July 2014,2 bedroom 4 bed chalet/town-home sleeps 6-8 wi...,NaN,NaN,ChaletAzul 2RM/4BD 30day rent Avail,https://www.airbnb.com/rooms/6088158?location=...
27,$36,1,"Richmond,TX",February 2017,Private Room (shared bathroom) in a warm famil...,29.695527,-95.690111,King Size Bed room,https://www.airbnb.com/rooms/17407499?location...
28,$65,1,"Katy,TX",January 2017,"Cozy room, special for couples or business tri...",29.780917,-95.794945,Private Room in Katy,https://www.airbnb.com/rooms/16916119?location...
29,$110,1,"Austin,TX",September 2015,Comfortable Traditional Interior Furniture in ...,30.244296,-97.774469,Fabulous Central Austin Condo!,https://www.airbnb.com/rooms/13571814?location...
30,$650,1,"Houston,TX",July 2016,"Upstairs &amp; down stairs 2 beds included, gr...",29.793380,-95.196401,Luxurious TH 10 min from Downtown,https://www.airbnb.com/rooms/16842438?location...
...,...,...,...,...,...,...,...,...,...
18230,$55,2,"Plano,TX",June 2017,"Courtyard view, walking distance to two pools!",33.071656,-96.738759,"Cozy Cottage in Plano, TX",https://www.airbnb.com/rooms/19384547?location...
18231,$300,3,"Port Aransas,TX",September 2015,"Beautiful 3 story, 3 bedroom/3.5 beach townhouse!",27.820498,-97.069286,"""Casa Palmera"" Garage for golf cart storage",https://www.airbnb.com/rooms/18583679?location...
18232,$100,1,"San Antonio,TX",October 2015,Early 1900's restored historic duplex 5-10 min...,29.431973,-98.469774,Historic Duplex Minutes from Downtown San Antonio,https://www.airbnb.com/rooms/8940220?location=...
18233,$487,3,"San Antonio,TX",May 2016,My place is close to Loop 410 just minutes fro...,29.525538,-98.508696,Mid-Century Modern home newly remodeled 2/17,https://www.airbnb.com/rooms/16554753?location...
18234,$40,1,"Dallas,TX",December 2016,"My place is close to the city center, bus line...",32.947855,-96.821908,Home away from Home,https://www.airbnb.com/rooms/16489958?location...
18235,$45,1,"Abilene,TX",May 2015,awesome room in my house if your anything like...,32.456274,-99.766067,peake street room,https://www.airbnb.com/rooms/13734793?location...
18236,$82,3,"San Antonio,TX",May 2015,New Listing!! This house is in a great locatio...,29.462688,-98.540944,MidCentury Budgeter Near Downtown,https://www.airbnb.com/rooms/17702438?location...
18237,$200,2,"Dallas,TX",December 2016,"My place is close to the Galleria mall, the Sh...",32.988678,-96.774548,Cozy 2BD/2.5 Apt w/parking !!!,https://www.airbnb.com/rooms/16401845?location...
18238,$28,3,"Abilene,TX",September 2016,My place is close to everything in Abilene.. Y...,32.477212,-99.770857,3/1 sanctuary for you,https://www.airbnb.com/rooms/15115172?location...
18239,$101,1,"San Antonio,TX",July 2015,My place is by the San Antonio Museum of Art. ...,29.438534,-98.479637,Urban Riverwalk Apartment Close to The Pearl,https://www.airbnb.com/rooms/14882585?location...
18240,$40,1,"Abilene,TX",March 2015,Laid back one bedroom available with private b...,32.380837,-99.716332,"1BR, private bath, & good cooking",https://www.airbnb.com/rooms/10194491?location...
18241,$101,2,"Plano,TX",September 2013,2BEDS/2BATH \n\nMy place is located on the Pla...,33.008319,-96.784492,Upscale Living Near Legacy Shops!,https://www.airbnb.com/rooms/5682371?location=...
18242,$34,1,"San Antonio,TX",December 2015,This is your place in San Antonio during your ...,29.495080,-98.412750,Globe Trekker private room,https://www.airbnb.com/rooms/10866349?location...
18243,$39,1,"Dallas,TX",May 2017,Our place is located in the suburb of Dallas i...,32.998515,-96.840383,Feel at home place,https://www.airbnb.com/rooms/19225872?location...
18244,$75,1,"Tuscola,TX",July 2014,"Rustic, cozy two room, eclectically decorated ...",32.247640,-99.949714,Rustic Cabin in the Hills,https://www.airbnb.com/rooms/3686935?location=...
18245,$90,2,"Addison,TX",October 2016,"Updated condo in quiet neighborhood, just bloc...",32.970571,-96.828762,2 Bedroom Condo in North Dallas,https://www.airbnb.com/rooms/15758513?location...
18246,$75,1,"San Antonio,TX",February 2015,Vintage apartment in the heart of the historic...,29.453676,-98.496735,Monte Vista Historical Apartment,https://www.airbnb.com/rooms/9012890?location=...
18247,$299,4,"San Antonio,TX",May 2016,You're going to LOVE IT! All the comforts of h...,29.515856,-98.519550,Five miles from Downtown San Antonio & much more!,https://www.airbnb.com/rooms/15032535?location...
18248,$48,1,"Dallas,TX",July 2014,Accommodations are separate from rest of home....,32.955811,-96.776537,"Separate entry, IKEA-like living with more space",https://www.airbnb.com/rooms/15115945?location...
18249,$75,1,"San Antonio,TX",August 2014,"Retreat for one or two guests--couple, buddies...",29.460124,-98.463417,"Large upstairs guestroom, private bath& entrance",https://www.airbnb.com/rooms/13558426?location...
18250,$37,1,"Dallas,TX",October 2011,We have lived in this neighborhood for 4 years...,32.892048,-96.871741,Private Bedroom/Bathroom in Non Smoking Household,https://www.airbnb.com/rooms/14058229?location...
18251,$27,1,"Abilene,TX",August 2015,Super cute bedroom in an adorable home! Well t...,32.434686,-99.751677,Adorable getaway!,https://www.airbnb.com/rooms/19530954?location...
18252,$149,3,"Alamo Heights,TX",May 2015,"Our place is walking distance to coffee shops,...",29.474794,-98.463366,Alamo Heights Craftsman Haus 5 miles from down...,https://www.airbnb.com/rooms/17014555?location...
18253,$31,1,"Addison,TX",June 2017,"Inside of Addison Circle, everything that you ...",32.962486,-96.828179,Addison Circle Studio Available for Short Term,https://www.airbnb.com/rooms/19205954?location...
18254,$38,1,"San Antonio,TX",February 2016,Come stay in a charming old house close to all...,29.429076,-98.462739,Private room in charming historic home,https://www.airbnb.com/rooms/17773735?location...
18255,$60,1,"Dallas,TX",March 2013,An entire 1 bedroom 700+sqft condo in the hear...,32.892303,-96.772049,Quiet comfort living in Dallas,https://www.airbnb.com/rooms/1011576?location=...
18256,$99,2,"San Antonio,TX",June 2015,An inviting 1920's cottage home in a popular u...,29.452893,-98.486756,Midtown Cottage Near Riverwalk,https://www.airbnb.com/rooms/18766940?location...
18257,$13,1,"Dallas,TX",December 2016,Amazing 3BHK Apartment in a picturesque Commun...,33.001955,-96.777615,Room in Dallas!,https://www.airbnb.com/rooms/18719059?location...
18258,$65,2,"San Antonio,TX",October 2016,My quaint and cozy home is conveniently locate...,29.450142,-98.505333,Vibrant Spacious Loft!,https://www.airbnb.com/rooms/18179329?location...
18259,$75,1,"San Antonio,TX",July 2015,"Cute brand new, modern, guest house (we call i...",29.425508,-98.466833,Brand New Modern Pod in Historic Dignowity Hill,https://www.airbnb.com/rooms/16318144?location...

In [100]:
airbnb['average_rate_per_night'] = airbnb['average_rate_per_night'].str.replace('$','')
airbnb

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
1,27,2,"Humble,TX",May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
2,149,4,"San Antonio,TX",November 2010,"Stylish, fully remodeled home in upscale NW ...",29.503068,-98.447688,Unique Location! Alamo Heights - Designer Insp...,https://www.airbnb.com/rooms/17481455?location...
3,59,1,"Houston,TX",January 2017,'River house on island close to the city' \nA ...,29.829352,-95.081549,River house near the city,https://www.airbnb.com/rooms/16926307?location...
4,60,1,"Bryan,TX",February 2016,Private bedroom in a cute little home situated...,30.637304,-96.337846,Private Room Close to Campus,https://www.airbnb.com/rooms/11839729?location...
5,75,2,"Fort Worth,TX",February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...
6,250,4,"Conroe,TX",August 2016,"My place is close to Lake Conroe, family-frien...",30.370455,-95.385319,Gorgeous Home with Country Setting,https://www.airbnb.com/rooms/14466133?location...
7,129,3,"Cedar Creek,TX",March 2016,Rustic country retreat on 8 acres southeast of...,30.109838,-97.473417,Cozy and Quaint Country Retreat with Acreage.,https://www.airbnb.com/rooms/12491762?location...
8,25,1,"Fort Worth,TX",January 2016,This is a beautiful bedroom with a queen size ...,32.689611,-97.298161,Friendly Private Room in Quiet Neighborhood,https://www.airbnb.com/rooms/18977363?location...
9,345,3,"Rockport,TX",February 2016,First class and comfortable condo with the bes...,28.103726,-97.025832,608 - Bayfront Condos,https://www.airbnb.com/rooms/17559848?location...
10,72,Studio,"San Antonio,TX",August 2013,Private entrance to your own \,29.480646,-98.495692,Cozy Historic Private Studio,https://www.airbnb.com/rooms/1588127?location=...
11,65,1,"Irving,TX",July 2015,My cool and comfortable bedroom apartment feel...,32.862116,-97.002643,Cozy 1 bedroom/bathroom with pool,https://www.airbnb.com/rooms/7276294?location=...
12,116,1,"Euless,TX",September 2014,Gated Estate in the heart of the DFW metro. Se...,32.865348,-97.081034,Quiet Cozy Room,https://www.airbnb.com/rooms/4251773?location=...
13,160,2,"Round Mountain,TX",August 2012,Our place combines the convenience for visitin...,30.352005,-98.146242,Cypress Creek Retreat Hamilton Pool,https://www.airbnb.com/rooms/658762?location=C...
14,110,1,"San Antonio,TX",June 2017,"This home is on the North Side of San Antonio,...",29.669031,-98.418352,A Cozy Home with a Beautiful Nature Views,https://www.airbnb.com/rooms/19190311?location...
15,175,2,"Kerrville,TX",August 2016,My place is close to downtown Kerrville. Beaut...,30.073667,-99.161365,"Cozy cottage charm,right in Kerrville!",https://www.airbnb.com/rooms/14694333?location...
16,88,2,"New Braunfels,TX",April 2017,This is new house with a hint of Texas Country...,29.642811,-98.114401,2 bedrooms 1.5 bath in a great location.,https://www.airbnb.com/rooms/18683743?location...
17,82,2,"Austin,TX",December 2015,"Cute two bedroom with lots of windows, sunny b...",30.309522,-97.731710,Cosy 2 Bedroom in Hyde Park!,https://www.airbnb.com/rooms/18550276?location...
18,275,1,"Port Aransas,TX",February 2017,"My place is close to the beach, restaurants an...",27.817176,-97.068090,Ocean Getaway with Magnificent Views,https://www.airbnb.com/rooms/17402254?location...
19,1500,4,"Houston,TX",January 2017,4 bedroom 2 bathroom home with an open floor p...,29.954680,-95.176070,Super Bowl 2017 4 BDRM Home Retreat,https://www.airbnb.com/rooms/16964526?location...
20,250,2,"Frisco,TX",December 2014,This unique lakefront area is perfect for crea...,33.155776,-96.930439,Lake Lewisville Lakefront Convenient to Frisco,https://www.airbnb.com/rooms/4785810?location=...
21,2999,4,"Katy,TX",January 2017,4 Bedroom 3 Baths Sleeps 10-12 Theater Room Pl...,29.823802,-95.730637,New Super Bowl House & Luxury Car,https://www.airbnb.com/rooms/17005150?location...
22,350,3,"College Station,TX",September 2015,"Nice 3 bed, 2 bathroom home in the beautiful C...",30.546704,-96.282853,3/2 Home in Castlegate,https://www.airbnb.com/rooms/8419392?location=...
23,165,3,"Katy,TX",September 2016,This apartment is very nice for any family or ...,29.766553,-95.783192,Getaway Gateway Apartment Home,https://www.airbnb.com/rooms/17188329?location...
24,65,1,"Katy,TX",September 2016,"My place is close to Katy Mills Mall Shopping,...",29.740704,-95.825879,Luxury Master Bedroom in Safe & Quite Neibourhood,https://www.airbnb.com/rooms/15860117?location...
25,100,Studio,"Denton,TX",November 2015,A converted carriage house walking distance to...,33.216140,-97.137757,Historic Converted Carriage House,https://www.airbnb.com/rooms/16650025?location...
26,NaN,2,"San Antonio,TX",July 2014,2 bedroom 4 bed chalet/town-home sleeps 6-8 wi...,NaN,NaN,ChaletAzul 2RM/4BD 30day rent Avail,https://www.airbnb.com/rooms/6088158?location=...
27,36,1,"Richmond,TX",February 2017,Private Room (shared bathroom) in a warm famil...,29.695527,-95.690111,King Size Bed room,https://www.airbnb.com/rooms/17407499?location...
28,65,1,"Katy,TX",January 2017,"Cozy room, special for couples or business tri...",29.780917,-95.794945,Private Room in Katy,https://www.airbnb.com/rooms/16916119?location...
29,110,1,"Austin,TX",September 2015,Comfortable Traditional Interior Furniture in ...,30.244296,-97.774469,Fabulous Central Austin Condo!,https://www.airbnb.com/rooms/13571814?location...
30,650,1,"Houston,TX",July 2016,"Upstairs &amp; down stairs 2 beds included, gr...",29.793380,-95.196401,Luxurious TH 10 min from Downtown,https://www.airbnb.com/rooms/16842438?location...
...,...,...,...,...,...,...,...,...,...
18230,55,2,"Plano,TX",June 2017,"Courtyard view, walking distance to two pools!",33.071656,-96.738759,"Cozy Cottage in Plano, TX",https://www.airbnb.com/rooms/19384547?location...
18231,300,3,"Port Aransas,TX",September 2015,"Beautiful 3 story, 3 bedroom/3.5 beach townhouse!",27.820498,-97.069286,"""Casa Palmera"" Garage for golf cart storage",https://www.airbnb.com/rooms/18583679?location...
18232,100,1,"San Antonio,TX",October 2015,Early 1900's restored historic duplex 5-10 min...,29.431973,-98.469774,Historic Duplex Minutes from Downtown San Antonio,https://www.airbnb.com/rooms/8940220?location=...
18233,487,3,"San Antonio,TX",May 2016,My place is close to Loop 410 just minutes fro...,29.525538,-98.508696,Mid-Century Modern home newly remodeled 2/17,https://www.airbnb.com/rooms/16554753?location...
18234,40,1,"Dallas,TX",December 2016,"My place is close to the city center, bus line...",32.947855,-96.821908,Home away from Home,https://www.airbnb.com/rooms/16489958?location...
18235,45,1,"Abilene,TX",May 2015,awesome room in my house if your anything like...,32.456274,-99.766067,peake street room,https://www.airbnb.com/rooms/13734793?location...
18236,82,3,"San Antonio,TX",May 2015,New Listing!! This house is in a great locatio...,29.462688,-98.540944,MidCentury Budgeter Near Downtown,https://www.airbnb.com/rooms/17702438?location...
18237,200,2,"Dallas,TX",December 2016,"My place is close to the Galleria mall, the Sh...",32.988678,-96.774548,Cozy 2BD/2.5 Apt w/parking !!!,https://www.airbnb.com/rooms/16401845?location...
18238,28,3,"Abilene,TX",September 2016,My place is close to everything in Abilene.. Y...,32.477212,-99.770857,3/1 sanctuary for you,https://www.airbnb.com/rooms/15115172?location...
18239,101,1,"San Antonio,TX",July 2015,My place is by the San Antonio Museum of Art. ...,29.438534,-98.479637,Urban Riverwalk Apartment Close to The Pearl,https://www.airbnb.com/rooms/14882585?location...
18240,40,1,"Abilene,TX",March 2015,Laid back one bedroom available with private b...,32.380837,-99.716332,"1BR, private bath, & good cooking",https://www.airbnb.com/rooms/10194491?location...
18241,101,2,"Plano,TX",September 2013,2BEDS/2BATH \n\nMy place is located on the Pla...,33.008319,-96.784492,Upscale Living Near Legacy Shops!,https://www.airbnb.com/rooms/5682371?location=...
18242,34,1,"San Antonio,TX",December 2015,This is your place in San Antonio during your ...,29.495080,-98.412750,Globe Trekker private room,https://www.airbnb.com/rooms/10866349?location...
18243,39,1,"Dallas,TX",May 2017,Our place is located in the suburb of Dallas i...,32.998515,-96.840383,Feel at home place,https://www.airbnb.com/rooms/19225872?location...
18244,75,1,"Tuscola,TX",July 2014,"Rustic, cozy two room, eclectically decorated ...",32.247640,-99.949714,Rustic Cabin in the Hills,https://www.airbnb.com/rooms/3686935?location=...
18245,90,2,"Addison,TX",October 2016,"Updated condo in quiet neighborhood, just bloc...",32.970571,-96.828762,2 Bedroom Condo in North Dallas,https://www.airbnb.com/rooms/15758513?location...
18246,75,1,"San Antonio,TX",February 2015,Vintage apartment in the heart of the historic...,29.453676,-98.496735,Monte Vista Historical Apartment,https://www.airbnb.com/rooms/9012890?location=...
18247,299,4,"San Antonio,TX",May 2016,You're going to LOVE IT! All the comforts of h...,29.515856,-98.519550,Five miles from Downtown San Antonio & much more!,https://www.airbnb.com/rooms/15032535?location...
18248,48,1,"Dallas,TX",July 2014,Accommodations are separate from rest of home....,32.955811,-96.776537,"Separate entry, IKEA-like living with more space",https://www.airbnb.com/rooms/15115945?location...
18249,75,1,"San Antonio,TX",August 2014,"Retreat for one or two guests--couple, buddies...",29.460124,-98.463417,"Large upstairs guestroom, private bath& entrance",https://www.airbnb.com/rooms/13558426?location...
18250,37,1,"Dallas,TX",October 2011,We have lived in this neighborhood for 4 years...,32.892048,-96.871741,Private Bedroom/Bathroom in Non Smoking Household,https://www.airbnb.com/rooms/14058229?location...
18251,27,1,"Abilene,TX",August 2015,Super cute bedroom in an adorable home! Well t...,32.434686,-99.751677,Adorable getaway!,https://www.airbnb.com/rooms/19530954?location...
18252,149,3,"Alamo Heights,TX",May 2015,"Our place is walking distance to coffee shops,...",29.474794,-98.463366,Alamo Heights Craftsman Haus 5 miles from down...,https://www.airbnb.com/rooms/17014555?location...
18253,31,1,"Addison,TX",June 2017,"Inside of Addison Circle, everything that you ...",32.962486,-96.828179,Addison Circle Studio Available for Short Term,https://www.airbnb.com/rooms/19205954?location...
18254,38,1,"San Antonio,TX",February 2016,Come stay in a charming old house close to all...,29.429076,-98.462739,Private room in charming historic home,https://www.airbnb.com/rooms/17773735?location...
18255,60,1,"Dallas,TX",March 2013,An entire 1 bedroom 700+sqft condo in the hear...,32.892303,-96.772049,Quiet comfort living in Dallas,https://www.airbnb.com/rooms/1011576?location=...
18256,99,2,"San Antonio,TX",June 2015,An inviting 1920's cottage home in a popular u...,29.452893,-98.486756,Midtown Cottage Near Riverwalk,https://www.airbnb.com/rooms/18766940?location...
18257,13,1,"Dallas,TX",December 2016,Amazing 3BHK Apartment in a picturesque Commun...,33.001955,-96.777615,Room in Dallas!,https://www.airbnb.com/rooms/18719059?location...
18258,65,2,"San Antonio,TX",October 2016,My quaint and cozy home is conveniently locate...,29.450142,-98.505333,Vibrant Spacious Loft!,https://www.airbnb.com/rooms/18179329?location...
18259,75,1,"San Antonio,TX",July 2015,"Cute brand new, modern, guest house (we call i...",29.425508,-98.466833,Brand New Modern Pod in Historic Dignowity Hill,https://www.airbnb.com/rooms/16318144?location...

## Q-11
You need to know how to use fillna and dropna function. Also, know how to use subset attribute. Practice the following:

1. Drop NaN from rate column in the Original DataFrame.
2. change rate from a string to an int.
3. Calculate the mean value of all room's price
4. Calculate the mean values, maximum value and minimum value of all 2-bed room properties rate
5. Display the unique values of bedrooms_count
6. Display how many Studios it has
7. Dispaly a statistic summary of all bed-room properties.

In [115]:
airbnb['average_rate_per_night'].dropna(inplace=True)

In [116]:
airbnb['average_rate_per_night']=airbnb['average_rate_per_night'].astype(int)

In [117]:
airbnb.dropna(subset=['latitude', 'longitude'], inplace=True)

In [118]:
airbnb['average_rate_per_night'].mean()

211.56137174211247

In [120]:
bd2=airbnb[airbnb['bedrooms_count'] == '2']
bd2

,average_rate_per_night,bedrooms_count,city,date_of_listing,description,latitude,longitude,title,url
1,27.0,2,"Humble,TX",May 2016,Welcome to stay in private room with queen bed...,30.020138,-95.293996,2 Private rooms/bathroom 10min from IAH airport,https://www.airbnb.com/rooms/18520444?location...
5,75.0,2,"Fort Worth,TX",February 2017,Welcome to our original 1920's home. We recent...,32.747097,-97.286434,The Porch,https://www.airbnb.com/rooms/17325114?location...
13,160.0,2,"Round Mountain,TX",August 2012,Our place combines the convenience for visitin...,30.352005,-98.146242,Cypress Creek Retreat Hamilton Pool,https://www.airbnb.com/rooms/658762?location=C...
15,175.0,2,"Kerrville,TX",August 2016,My place is close to downtown Kerrville. Beaut...,30.073667,-99.161365,"Cozy cottage charm,right in Kerrville!",https://www.airbnb.com/rooms/14694333?location...
16,88.0,2,"New Braunfels,TX",April 2017,This is new house with a hint of Texas Country...,29.642811,-98.114401,2 bedrooms 1.5 bath in a great location.,https://www.airbnb.com/rooms/18683743?location...
17,82.0,2,"Austin,TX",December 2015,"Cute two bedroom with lots of windows, sunny b...",30.309522,-97.731710,Cosy 2 Bedroom in Hyde Park!,https://www.airbnb.com/rooms/18550276?location...
20,250.0,2,"Frisco,TX",December 2014,This unique lakefront area is perfect for crea...,33.155776,-96.930439,Lake Lewisville Lakefront Convenient to Frisco,https://www.airbnb.com/rooms/4785810?location=...
42,370.0,2,"New Braunfels,TX",May 2013,What a location! The Comal Hideway is nestled ...,29.704714,-98.120103,Comal Hideaway! ACROSS FROM SCHLITTERBAHN!,https://www.airbnb.com/rooms/18547397?location...
47,117.0,2,"Fort Worth,TX",October 2014,This house will have you feeling like you're s...,32.766507,-97.328737,1920's Bungalow / Craftsman near Downtown,https://www.airbnb.com/rooms/7255032?location=...
48,244.0,2,"Marble Falls,TX",January 2014,"Two Bedroom: King in master, two full beds in ...",30.551119,-98.286461,"Marble Falls, TX, 2-bedroom #1",https://www.airbnb.com/rooms/14359371?location...
53,207.0,2,"Bandera,TX",May 2014,2 bedroom house. Sleeps 6 total. 2 Twin Sleepe...,29.717039,-99.082121,Hackberry House,https://www.airbnb.com/rooms/14471311?location...
54,100.0,2,"Humble,TX",January 2016,"My home, built in 2016, is 5 min from the airp...",30.019380,-95.308188,Cozy Second floor to yourself minutes from IAH,https://www.airbnb.com/rooms/16925131?location...
55,105.0,2,"San Antonio,TX",June 2017,A cozy apartment located in downtown San Anton...,29.415430,-98.481596,Downtown Apartment located near Convention Center,https://www.airbnb.com/rooms/19065840?location...
68,150.0,2,"Houston,TX",March 2017,"We do not rent out the entire property, only p...",29.536286,-95.086697,PRIVATE SUITE & POOLSIDE ROOM,https://www.airbnb.com/rooms/17760693?location...
73,110.0,2,"Canyon Lake,TX",June 2014,Our wooded retreat is nestled among old growth...,29.914565,-98.263632,"Emerald Gem in The Texas Hill Country, Canyon ...",https://www.airbnb.com/rooms/16338611?location...
78,125.0,2,"Conroe,TX",January 2014,This Executive furnished apartment features a ...,30.203439,-95.429411,Gorgeous Pool View 2BDR/2Bath-Woodlands #12HP02,https://www.airbnb.com/rooms/15107195?location...
79,300.0,2,"College Station,TX",October 2016,My place is close to TAMU Campus. Youll love ...,30.587262,-96.295152,Gameday Sleepover,https://www.airbnb.com/rooms/15375359?location...
81,800.0,2,"College Station,TX",September 2016,"My place is close to Parks, Kyle Field, Restau...",30.613390,-96.306873,3 Bedroom Home. (2 Private Rooms for Rental),https://www.airbnb.com/rooms/15189493?location...
85,135.0,2,"Austin,TX",November 2016,If you're looking for a comfortable place in B...,30.342859,-97.735987,Austin Private Patio Convenient Downtown - Burnet,https://www.airbnb.com/rooms/16067140?location...
97,1000.0,2,"Houston,TX",February 2013,Our 2/2 townhouse is only a 9-min ride from NR...,29.697991,-95.298932,Perfect Townhome for Super Bowl LI & Beyond,https://www.airbnb.com/rooms/16892588?location...
107,195.0,2,"Allen,TX",March 2014,"After a stressful day of activities, you can c...",33.091312,-96.630632,"Quiet 5 bed, 1 bath home w/pool and hot tub.",https://www.airbnb.com/rooms/13504229?location...
110,109.0,2,"College Station,TX",September 2016,Newly renovated apartment! Stay in a comfortab...,30.607236,-96.317283,Less than 1 mile to A&M - 2 Bedroom 1 Bath Apt!,https://www.airbnb.com/rooms/15773962?location...
122,400.0,2,"Houston,TX",January 2017,Lugares de inters: Hobby airport. Te va a enc...,29.692171,-95.278347,Houston 15 min NRG,https://www.airbnb.com/rooms/16973563?location...
127,40.0,2,"Arlington,TX",June 2017,Two great spacious private bedrooms in a frien...,32.661998,-97.206079,Two spacious private bedrooms in a quiet home.,https://www.airbnb.com/rooms/19488363?location...
133,110.0,2,"Plano,TX",October 2016,"Quiet complex, apartment looks over the pool a...",33.118789,-96.739177,Plano delight,https://www.airbnb.com/rooms/19414781?location...
136,80.0,2,"Conroe,TX",June 2017,New 2017 top of the line toy hauler out in the...,30.205677,-95.350125,The Camper Oasis,https://www.airbnb.com/rooms/19281125?location...
146,103.0,2,"Brenham,TX",May 2017,Beautiful country retreat located on historica...,30.200691,-96.364717,"Park Manor Guest House, lovely!",https://www.airbnb.com/rooms/18657931?location...
150,190.0,2,"New Ulm,TX",February 2011,Bluebonnet Cabin a place in nature for healing...,29.898223,-96.504678,Bluebonnet Cabin,https://www.airbnb.com/rooms/71992?location=Ch...
152,250.0,2,"Fayetteville,TX",April 2013,"After a complete restoration, Wisteria Bend Co...",29.904262,-96.683241,Wisteria Bend Cottage,https://www.airbnb.com/rooms/17325043?location...
156,768.0,2,"Richmond,TX",September 2016,"My place is close to great views, the airport,...",29.661012,-95.687538,SUPER BOWL WEEKEND 2017,https://www.airbnb.com/rooms/14991163?location...
...,...,...,...,...,...,...,...,...,...
18113,275.0,2,"Dallas,TX",October 2016,"Stunning Views of the Dallas Skyline! New, Ver...",32.793878,-96.783542,"New, Super Location, Stunning Views",https://www.airbnb.com/rooms/15754276?location...
18114,93.0,2,"Galveston,TX",January 2014,Our tiny guesthouse has 2 bedrooms. The hall i...,29.306849,-94.780058,Tiny Guest house in Galveston,https://www.airbnb.com/rooms/2261940?location=...
18117,90.0,2,"Cedar Creek,TX",November 2014,Quiet residential . . . ONLY 20 MINUTES TO AUS...,30.130817,-97.444713,PRIVATE Home Away from Home !,https://www.airbnb.com/rooms/4573913?location=...
18120,100.0,2,"McKinney,TX",December 2014,"Our home is walking distance to local parks, m...",33.194187,-96.641571,"2 private bedrooms, private bath in family home",https://www.airbnb.com/rooms/16601313?location...
18123,99.0,2,"Abilene,TX",February 2016,NEW Executive home located in e new neighborho...,32.347409,-99.784556,Vista Home,https://www.airbnb.com/rooms/17961948?location...
18139,195.0,2,"Port Aransas,TX",January 2016,Welcome to Mayan Princess #201 on Mustang Isla...,27.716329,-97.141345,Upgraded Beachfront Condo with Private Entrance,https://www.airbnb.com/rooms/10748016?location...
18146,300.0,2,"Surfside Beach,TX",December 2016,2011 2/2. Dock you boat right in front of the ...,28.957705,-95.288876,Fishermans Landing,https://www.airbnb.com/rooms/16412261?location...
18151,80.0,2,"Denton,TX",March 2017,We welcome you to what we hope is true Texas h...,33.211470,-97.137567,Coral Door Denton 3 blocks from DOWNTOWN!,https://www.airbnb.com/rooms/17988456?location...
18158,109.0,2,"McKinney,TX",March 2015,Come to relax and getaway in this two bedroom ...,33.225478,-96.725279,2 Bedroom Suite on 2 Acre Homesite,https://www.airbnb.com/rooms/6015601?location=...
18166,88.0,2,"McKinney,TX",February 2016,"One of a kind cool country cottage, secluded y...",33.316257,-96.628195,Stunning Country Cottage - Modern Jewel,https://www.airbnb.com/rooms/10996724?location...
18167,170.0,2,"Galveston,TX",August 2016,Pets are accepted but require a non-refundable...,29.287574,-94.801570,Beach bungalow only blocks away to beach!,https://www.airbnb.com/rooms/14557326?location...
18168,80.0,2,"San Antonio,TX",February 2013,Memorial Holiday is almost upon us. Here is to...,29.457602,-98.506943,Poppy in Beacon Hill,https://www.airbnb.com/rooms/16757789?location...
18174,75.0,2,"Van,TX",May 2016,Beautiful cabin nestled in the woods on a priv...,32.483086,-95.642925,Cabin in the Woods.,https://www.airbnb.com/rooms/13122055?location...
18176,500.0,2,"Dickinson,TX",September 2015,Beautiful lakefront backyard available for sma...,29.454021,-95.034338,Beautiful lakefront Backyard for Rent,https://www.airbnb.com/rooms/13397086?location...
18188,131.0,2,"Austin,TX",July 2016,"My place is close to Magnolia Cafe South, Once...",30.245001,-97.747529,SOUTH CONGRESS 2 BEDROOM HOUSE,https://www.airbnb.com/rooms/14243071?location...
18194,50.0,2,"Fairview,TX",January 2016,Our comfy place is a football field away from ...,33.133762,-96.647946,"Cozy Apt in Fairview, near McKinney and Allen",https://www.airbnb.com/rooms/18166869?location...
18195,165.0,2,"Corpus Christi,TX",March 2017,The perfect family getaway for all coastal lov...,27.622767,-97.294522,Laguna Tiki Bar House,https://www.airbnb.com/rooms/18018388?location...
18198,165.0,2,"Corpus Christi,TX",June 2017,This is a lovely 2 bedroom condo with a Queen ...,27.604721,-97.213162,"LEEWARD COVE B7 2 BD, 1BTH, WALK TO BEACH",https://www.airbnb.com/rooms/19551302?location...
18199,225.0,2,"Corpus Christi,TX",June 2017,Beautiful condo located by the beaches. The un...,27.607923,-97.208671,"SEAHORSE CONDOS, #202 / 2 BD, 2 BTH, WALK TO B...",https://www.airbnb.com/rooms/19284637?location...
18206,50.0,2,"Allen,TX",October 2012,"My home is close to many great restaurants, sh...",33.104405,-96.695121,Home Away From Home,https://www.airbnb.com/rooms/18275553?location...
18209,77.0,2,"Dallas,TX",August 2013,Minutes from downtown in historic 1920's shotg...,32.769312,-96.789699,Historically preserved SHOTGUN,https://www.airbnb.com/rooms/11047240?location...
18218,169.0,2,"Flint,TX",September 2013,The Villages Resort has a water park on site a...,32.215605,-95.452961,2BR Villages Resort & Waterpark,https://www.airbnb.com/rooms/7287511?location=...
18226,99.0,2,"Dallas,TX",January 2016,"Close to Downtown, Deep Ellum, Fair Park, Conv...",32.794612,-96.784855,Modern East Dallas Garden Home,https://www.airbnb.com/rooms/10518366?location...
18228,140.0,2,"Houston,TX",May 2016,"Located in the best neighborhood in the city, ...",29.781488,-95.391686,Centrally Located 2 Bedroom Gem in Houston Hei...,https://www.airbnb.com/rooms/14504725?location...
18230,55.0,2,"Plano,TX",June 2017,"Courtyard view, walking distance to two pools!",33.071656,-96.738759,"Cozy Cottage in Plano, TX",https://www.airbnb.com/rooms/19384547?location...
18237,200.0,2,"Dallas,TX",December 2016,"My place is close to the Galleria mall, the Sh...",32.988678,-96.774548,Cozy 2BD/2.5 Apt w/parking !!!,https://www.airbnb.com/rooms/16401845?location...
18241,101.0,2,"Plano,TX",September 2013,2BEDS/2BATH \n\nMy place is located on the Pla...,33.008319,-96.784492,Upscale Living Near Legacy Shops!,https://www.airbnb.com/rooms/5682371?location=...
18245,90.0,2,"Addison,TX",October 2016,"Updated condo in quiet neighborhood, just bloc...",32.970571,-96.828762,2 Bedroom Condo in North Dallas,https://www.airbnb.com/rooms/15758513?location...
18256,99.0,2,"San Antonio,TX",June 2015,An inviting 1920's cottage home in a popular u...,29.452893,-98.486756,Midtown Cottage Near Riverwalk,https://www.airbnb.com/rooms/18766940?location...
18258,65.0,2,"San Antonio,TX",October 2016,My quaint and cozy home is conveniently locate...,29.450142,-98.505333,Vibrant Spacious Loft!,https://www.airbnb.com/rooms/18179329?location...

In [122]:
bd2['average_rate_per_night'].mean()

193.99878677585684

In [123]:
bd2['average_rate_per_night'].max()

6250.0

In [124]:
bd2['average_rate_per_night'].min()

21.0

In [125]:
airbnb['bedrooms_count'].unique()

array(['2', '4', '1', '3', 'Studio', '7', '5', '8', '6', '9', '11', nan,
       '13', '10'], dtype=object)

In [131]:
airbnb[airbnb['bedrooms_count']== 'Studio'].count()['bedrooms_count']

1024

In [132]:
airbnb['bedrooms_count'].describe()

count     18222
unique       13
top           1
freq       9372
Name: bedrooms_count, dtype: object

## Q-12 
You need to know how to convert a String into a datetime object. Practice the followingL

1. In the original DataFrame, convert the date_of_listing to a datetime object.

In [137]:
airbnb['date_of_listing']=pd.to_datetime(airbnb['date_of_listing'])
airbnb['date_of_listing'].dtype

dtype('<M8[ns]')

## Q-13
You need to know how to groupby one key and multiple keys. Also, how to perform calculation on the groupby structure. 
The calculations can be performed for a specific columns or multiple columns.

1. show average price of all properties grouped by year.
2. show average price of all properties, firstly grouped by bedrooms_count and then by year.
3. show the number of listings by bedrooms_count and then by year.

In [139]:
GroupbyYear= airbnb.groupby(airbnb['date_of_listing'].dt.year)
GroupbyYear.mean()

                 average_rate_per_night   latitude  longitude
date_of_listing
2008                         129.000000  29.266777 -94.828162
2009                         132.285714  30.917327 -97.780639
2010                         140.336134  31.367146 -97.537774
2011                         185.595339  30.842074 -97.356016
2012                         190.262829  30.704443 -97.299754
2013                         171.313492  30.838779 -97.279023
2014                         186.621916  30.826771 -97.177508
2015                         194.472766  30.628419 -97.094267
2016                         210.987563  30.697048 -96.961664
2017                         287.904521  30.502099 -96.986676

In [143]:
grupbybdc_year = airbnb.groupby([airbnb['bedrooms_count'],airbnb['date_of_listing'].dt.year])
grupbybdc_year.mean()

                                average_rate_per_night   latitude  longitude
bedrooms_count date_of_listing
1              2008                         129.000000  29.266777 -94.828162
               2009                         107.066667  30.862081 -97.951224
               2010                          82.215385  31.528792 -97.688209
               2011                         100.227092  30.869797 -97.415093
               2012                          92.779279  30.759067 -97.247332
               2013                          84.837798  30.950091 -97.233818
               2014                          83.858513  30.994740 -97.206147
               2015                          93.935456  30.868767 -97.035860
               2016                          88.587404  30.909330 -96.935413
               2017                          95.590694  30.967121 -97.059457
10             2011                        1757.500000  30.659205 -98.673569
               2014                        3100.000000  30.146511 -99.366858
               2015                        2224.750000  30.960151 -96.805845
               2016                        2075.000000  31.324622 -97.412330
11             2017                        4803.000000  30.270759 -98.867316
13             2017                        3049.000000  30.281521 -98.879788
2              2009                         114.000000  31.143793 -97.641629
               2010                         121.714286  31.238287 -97.046979
               2011                         140.840426  31.013973 -97.205132
               2012                         180.331210  30.695254 -97.387762
               2013                         176.472906  30.594672 -97.337037
               2014                         197.243792  30.703247 -97.322994
               2015                         199.733333  30.208260 -97.246908
               2016                         195.122807  30.342558 -97.063858
               2017                         203.045455  30.062405 -97.010100
3              2009                         264.000000  30.927228 -97.726849
               2010                         239.333333  31.386871 -97.923413
               2011                         368.355556  30.604006 -97.329170
               2012                         372.764045  30.503143 -97.405364
               2013                         344.627219  30.812665 -97.241359
...                                                ...        ...        ...
6              2011                         325.000000  29.437859 -98.720860
               2012                        1590.000000  30.377193 -97.806603
               2013                         283.000000  30.017342 -97.868831
               2014                        1002.263158  30.875369 -97.238995
               2015                        1116.600000  30.772279 -96.710778
               2016                        1215.392857  30.126228 -96.868218
               2017                        1458.133333  30.578079 -96.855441
7              2011                        1232.500000  30.653369 -98.584602
               2012                        1399.000000  26.112484 -97.172273
               2014                         875.000000  31.997466 -96.460217
               2015                         496.666667  32.152176 -97.416821
               2016                        1090.933333  30.984063 -97.759200
               2017                        1543.363636  30.515332 -96.754791
8              2012                        1500.000000  32.883474 -97.339523
               2013                        1250.000000  29.603760 -98.032928
               2014                        1167.000000  29.413480 -98.492074
               2015                        1201.500000  30.596420 -96.899369
               2016                        1639.333333  30.420071 -96.980415
9              2010                        1000.000000  32.570806 -95.752905
               2013                        1500.000000  30.331263 -97.999454
               2016                        5500.000000  29.783337 -95.599819
Studio         2009                         106.000000  31.294070 -97.369306
               2010                         124.666667  30.058433 -98.093572
               2011                          90.769231  30.556044 -97.039933
               2012                          93.603774  30.555254 -97.653622
               2013                          99.294643  30.816643 -97.502710
               2014                          83.763006  30.518173 -97.132102
               2015                          96.407216  30.759371 -97.255208
               2016                         105.133094  30.630818 -97.195229
               2017                         156.527950  30.332980 -97.347821

[80 rows x 3 columns]

In [144]:
grupbybdc_year.size()

bedrooms_count  date_of_listing
1               2008                  1
                2009                 15
                2010                 65
                2011                251
                2012                444
                2013                672
                2014               1251
                2015               2293
                2016               3112
                2017               1268
10              2011                  6
                2014                  1
                2015                  4
                2016                  2
11              2017                  1
13              2017                  1
2               2009                  2
                2010                 21
                2011                 94
                2012                157
                2013                203
                2014                443
                2015                735
                2016               1026
                2017                616
3               2009                  4
                2010                  9
                2011                 45
                2012                 89
                2013                169
                                   ...
6               2011                  1
                2012                  1
                2013                  2
                2014                 19
                2015                 10
                2016                 28
                2017                 15
7               2011                  2
                2012                  1
                2014                  4
                2015                  3
                2016                 15
                2017                 11
8               2012                  2
                2013                  1
                2014                  1
                2015                  6
                2016                 12
9               2010                  2
                2013                  1
                2016                  2
Studio          2009                  5
                2010                  9
                2011                 39
                2012                 53
                2013                112
                2014                173
                2015                194
                2016                278
                2017                161
Length: 80, dtype: int64

## Q-14 
You need to know when to use pivot_table and when to use crosstab with two keys. Both pivot_table and crosstab are similar to grouped by with two keys. Both returns a table(values in one key are used as rows and values in another key are used as columns) or you can think of it as another DataFrame. By using pivot_table, you can use any aggregation function applied to the grouped by structure such as mean(), max(), min() or size(). However, using crosstab. it automatically return the values by using the size() function which means how many happening. Please truly understand the difference of pivot_table and crosstab. Crosstab is one case of pivot_table.

By using pivot_table, you start from a reference or varibale of a DataFrame. By using crosstab, You start with the pandas library. Please practice the following:

1. Create a pivot table of average price based on year and bedrooms_count
2. Show the number of listing based on year and bedrooms_count

In [147]:
pd.crosstab(airbnb['date_of_listing'].dt.year, airbnb['bedrooms_count'])

bedrooms_count      1  10  11  13     2    3    4    5   6   7   8  9  Studio
date_of_listing
2008                1   0   0   0     0    0    0    0   0   0   0  0       0
2009               15   0   0   0     2    4    1    0   0   0   0  0       5
2010               65   0   0   0    21    9   13    0   0   0   0  2       9
2011              251   6   0   0    94   45   27    7   1   2   0  0      39
2012              444   0   0   0   157   89   33   19   1   1   2  0      53
2013              672   0   0   0   203  169   72   27   2   0   1  1     112
2014             1251   1   0   0   443  319  136   43  19   4   1  0     173
2015             2293   4   0   0   735  628  279   89  10   3   6  0     194
2016             3112   2   0   0  1026  951  385  139  28  15  12  2     278
2017             1268   0   1   1   616  514  291   86  15  11   0  0     161

In [151]:
pt=airbnb.pivot_table('average_rate_per_night', columns='bedrooms_count', index=airbnb['date_of_listing'].dt.year, aggfunc='mean')

In [152]:
pt

bedrooms_count,1,10,11,13,2,3,4,5,6,7,8,9,Studio
date_of_listing,,,,,,,,,,,,,
2008,129.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,107.066667,NaN,NaN,NaN,114.000000,264.000000,195.000000,NaN,NaN,NaN,NaN,NaN,106.000000
2010,82.215385,NaN,NaN,NaN,121.714286,239.333333,271.076923,NaN,NaN,NaN,NaN,1000.0,124.666667
2011,100.227092,1757.50,NaN,NaN,140.840426,368.355556,418.111111,637.857143,325.000000,1232.500000,NaN,NaN,90.769231
2012,92.779279,NaN,NaN,NaN,180.331210,372.764045,780.000000,665.684211,1590.000000,1399.000000,1500.000000,NaN,93.603774
2013,84.837798,NaN,NaN,NaN,176.472906,344.627219,400.958333,790.629630,283.000000,NaN,1250.000000,1500.0,99.294643
2014,83.858513,3100.00,NaN,NaN,197.243792,340.341693,509.919118,805.534884,1002.263158,875.000000,1167.000000,NaN,83.763006
2015,93.935456,2224.75,NaN,NaN,199.733333,312.878981,513.516129,846.460674,1116.600000,496.666667,1201.500000,NaN,96.407216
2016,88.587404,2075.00,NaN,NaN,195.122807,320.069401,619.696104,878.294964,1215.392857,1090.933333,1639.333333,5500.0,105.133094
2017,95.590694,NaN,4803.0,3049.0,203.045455,372.221790,781.353952,1354.255814,1458.133333,1543.363636,NaN,NaN,156.527950